@font-face {
    font-family: fantasy;
    src: url('../fonts/SuperMario256.ttf');
  }
  
  .mainMenu {
    width: 1280px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid black;
    background: url('../images/mainMenu.png');
    position: relative;
  }
  .signin-wrapper{
    width: 1280px;
    height: 530px;
    margin: 0 auto;
    border: 1px solid black;
    background: url('../images/mainMenu.png');
    position: relative;

  }
  
  .levelEditorMenu {
    width: 1280px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid black;
    background: url('../images/background0.png');
    position: relative;
    overflow: hidden;
    display: none;
  }
  
  .gameScreen {
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/background0.png');
    display: none;
    margin: 0 auto;
  }
  .signinScreen{
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/signinScreen.png');
    display: none;
    margin: 0 auto;

  }
  .signupScreen{
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/signupScreen.png');
    display: none;
    margin: 0 auto;

  }
  .forgotScreen{
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/forgotPassScreen.png');
    display: none;
    margin: 0 auto;

  }
  .hudWrapper {
    padding-left: 40px;
    width: 1240px;
    margin: 0 auto;
    height: 50px;
    display: none;
    border: 1px solid black;
    border-bottom: none;
    line-height: 50px;
    font-size: 20px;
    background-color: #330d00;
    font-family: fantasy;
    color: #eceaea;
  }
  
  .lives {
    background: url('../images/player-head.png') left center no-repeat;
    width: 100px;
    float: left;
    padding-left: 40px;
  }
  
  .coin-score {
    background: url('../images/coin.png') left center no-repeat;
    width: 150px;
    float: left;
    padding-left: 60px;
  }
  
  .level-num {
    width: 150px;
    float: left;
  }
  
  .total-score {
    float: left;
  }
  .cell {
    width: 31px;
    height: 31px;
    border: 1px solid rgb(0, 174, 255);
  }
  
  .active {
    width: 31px;
    height: 31px;
    border: 1px solid blue;
    background: red;
    opacity: 0.5;
  }
  
  .element-wrapper {
    width: 1280px;
    height: 130px;
    background: white;
    margin: 0 auto;
    /*border: 1px solid black;*/
    display: none;
  }
  
  .platform {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') 0 0;
  }

  .formClass1 {
    /* width: 300px; */
    height: 100px;
    text-align:left;
  }
  .formClass2 {
    /* width: 300px; */
    height: 100px;
    text-align:left;
  }

  .inp1 {
    position: fixed;
    margin-top: 180px;
    margin-left: 250px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }
  .inp2 {
    position: fixed;
    margin-top: 240px;
    margin-left: 250px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }

  .inp3 {
    position: fixed;
    margin-top: 180px;
    margin-left: 250px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }
  .inp4 {
    position: fixed;
    margin-top: 240px;
    margin-left: 250px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }

  .inp5 {
    position: fixed;
    margin-top: 180px;
    margin-left: 800px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }
  .inp6 {
    position: fixed;
    margin-top: 240px;
    margin-left: 800px; 
    font-family: monospace;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    /* width: 10px; */
    border: 1px solid #d8d8d8;
    background-color: white; 
  }
  .coin-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -32px 0;
  }
  
  .power-up-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -64px 0;
  }
  
  .useless-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -96px 0;
  }
  
  .flag-pole {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -128px 0;
  }
  
  .flag {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -160px 0;
  }
  
  .pipe-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -192px 0;
  }
  
  .pipe-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -224px 0;
  }
  
  .pipe-top-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -256px 0;
  }
  
  .pipe-top-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -288px 0;
  }

  .spikes{
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -320px 0;
  }
  
  .zombie {
    width: 31px;
    height: 31px;
    background: url('../images/enemies.png') 0 0;
  }

  .zombie2{
    width: 31px;
    height: 31px;
    background: url('../images/enemies2.png') 0 0;
  }
  
  .right-arrow {
    width: 60px;
    height: 60px;
    top: 215px;
    right: 0;
    background: url('../images/slider-right.png');
    position: absolute;
  }
  
  .left-arrow {
    width: 60px;
    height: 60px;
    top: 215px;
    left: 0;
    background: url('../images/slider-left.png');
    position: absolute;
  }
  
  .element-wrapper * {
    margin: 10px;
    float: left;
  }
  
  .lvl-size {
    clear: both;
    float: left;
    width: 115px;
    height: 32px;
    background: url('../images/lvl-size.png');
    margin-right: 10px;
  }
  
  .grid-small-btn {
    float: left;
    width: 84px;
    height: 38px;
    background: url('../images/grid-small-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .grid-medium-btn:selected {
    background: red;
  }
  
  .grid-medium-btn {
    float: left;
    width: 96px;
    height: 48px;
    background: url('../images/grid-medium-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .grid-large-btn {
    float: left;
    width: 128px;
    height: 32px;
    background: url('../images/grid-large-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .save-map-btn {
    float: right;
    width: 200px;
    height: 50px;
    background: url('../images/save-map-btn.png');
    border: none;
    margin-right: -10px;
    margin-top: -35px;
  }
  
  .clear-map-btn {
    float: right;
    width: 200px;
    height: 50px;
    background: url('../images/clear-map-btn.png');
    border: none;
    /*border: 2px solid black;*/
    margin-right: 10px;
    margin-top: -35px;
  }
  
  .levels-wrapper {
    width: 1280px;
    height: 530px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    display: none;
    background: url('../images/background0.png');
  }
  
  .start-btn {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background: url('../images/start-btn.png');
    position: absolute;
    bottom: 100px;
    left: 252px;
    border: none;
  }

  .options-btn{
    width: 200px;
    height: 50px;
    color: white;
    background: url('../images/options-btn.png');
    position: absolute;
    bottom: 40px;
    left: 388px;
    border: none;
  }

  .profile-btn{
    width: 200px;
    height: 50px;
    color: white;
    background: url('../images/profile-btn.png');
    position: absolute;
    bottom: 40px;
    left: 688px;
    border: none;
  }
  
  .editor-btn {
    width: 200px;
    height: 50px;
    background: url('../images/editor-btn.png');
    position: absolute;
    bottom: 100px;
    left: 530px;
    color: #ffffff;
    border: none;
  }
  .signin-btn {
    width: 200px;
    height: 50px;
    background: url('../images/signin-btn.png');
    position: absolute;
    bottom: 300px;
    left: 530px;
    color: #ffffff;
    border: none;
  }
  .signup-btn {
    width: 200px;
    height: 50px;
    background: url('../images/signup-btn.png');
    position: absolute;
    bottom: 200px;
    left: 530px;
    color: #ffffff;
    border: none;
  }
  
  .created-btn {
    width: 200px;
    height: 50px;
    background: url('../images/saved-btn.png');
    position: absolute;
    bottom: 100px;
    left: 810px;
    color: #ffffff;
    border: none;
  }
  
  .back-btn {
    width: 200px;
    height: 50px;
    background: url('../images/back-btn.png');
    color: #ffffff;
    border: none;
    margin: 10px;
    display: none;
  }
  
  .level-btn {
    font-family: fantasy;
    font-size: 25px;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 248px;
    height: 50px;
    color: #ffffff;
    border: none;
    margin: 2px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    background: none;
  }
  
  .delete-all-btn {
    width: 194px;
    height: 50px;
    background: url('../images/delete-all-btn.png');
    color: #ffffff;
    border: none;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    right: 520px;
  }
  
  .btn-wrapper {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
  }
  
  .no-maps {
    width: 1000px;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    margin: 0 auto;
    color: #ffffff;
    background: #911111;
    border: 2px solid black;
  }
  
  .loading-percentage {
    font-size: 60px;
    font-family: fantasy;
    text-align: center;
    padding: 100px;
  }
  
  .fb-comments {
    margin: 0 auto;
  }
  .user-name1 {
    margin-top: 190px;
    margin-left: 65px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/userName-tag.png');
    position: fixed;

  }
  .user-name2 {
    margin-top: 190px;
    margin-left: 90px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/userName-tag.png');
    position: fixed;

  }
  .E-Add {
    margin-top: 245px;
    margin-left: 90px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/E-address.png');
    position: fixed;

  }
  .password {
    margin-top: 245px;
    margin-left: 70px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/password-tag.png');
    position: fixed;

  }
  .password1 {
    margin-top: 185px;
    margin-left: 640px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/password-tag.png');
    position: fixed;

  }

  .conf-pass {
    margin-top: 245px;
    margin-left: 640px;
    width: 150px;
    height: 50px;
    margin: left;
    background: url('../images/Conf-pass.png');
    position: fixed;

  }

  .Reg-btn {
    width: 150px;
    height: 50px;
    background: url('../images/Register-btn.png');
    position: fixed;
    bottom: 250px;
    left: 530px;
    color: #ffffff;
    border: 1px black;
    background-color: rgba(56, 12, 12, 0.438);
  }
  .submit-btn {
    width: 150px;
    height: 50px;
    background: url('../images/submit-btn.png');
    position: fixed;
    bottom: 300px;
    left: 200px;
    color: #ffffff;
    border: 1px black;
    background-color: rgba(56, 12, 12, 0.438);
  }

  .forgot-btn {
    width: 150px;
    height: 50px;
    background: url('../images/forgotpass-btn.png');
    position: fixed;
    bottom: 300px;
    left: 400px;
    border: none;
  }
  