body {
  font-family: fantasy, sans-serif;
  font-size: 35px;
  background-image: url('../Assets/images/horror-background.jpg');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
}


h1{
    color:aliceblue;
    font-family: fantasy;
    font-size: 55px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    margin: 0px 0px 100px 0px;
}

div{
    /*border-bottom: 1px solid #efefef;*/
    margin: 10px auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 400px;
    /*background-color: blue;*/
    position: relative;
    text-align: center;
    color: aliceblue;
}

label{
    font-family: fantasy;
    font-size: 35px;
    color: aliceblue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}



#menu {
    position: absolute;
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    /* background-color: grey; */
  }

#main {
    display: none;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*
#main h1 {
    color:aliceblue;
    font-family: fantasy;
    font-size: 55px;
} */

#loadGame {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #levelEditor {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #options {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #controls {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #audio {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #difficulty {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  #profile {
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #stats{
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  #achievements{
    display: none;
    height: 100%;
    margin: auto;
    position: absolute;
  }


#inputControls{
    width: 70px;
}

.title{
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    font-family: fantasy;
    font-size: 24px;
    color: rgb(233, 233, 233);
}

.submit{
    text-align: right;
    color: darkred;
}

.offline{
    text-align: right;
}

input[type=text]{
    background-color: black;
    text-align: center;
    border: none;
    font-size: 30px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
}

.button {
    display: block;
    width: 300px;
    margin: 0 auto;
    height: 35px;
    line-height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-repeat: no-repeat;
    border-radius: 50px;
  }
  
  .button:hover {
    
  }
