body{
    background-color:black;
    background-image: url("background1-720.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:aliceblue;
    font-family: fantasy;
    font-size: 40px;
}

div{
    /*border-bottom: 1px solid #efefef;*/
    margin: 10px auto;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 400px;
    /*background-color: blue;*/
    position: relative;
    text-align: center;    
}

label{
    font-family: fantasy;
    font-size: 20px;
    color: aliceblue;
}

#inputControls{
    width: 70px;
}

.title{
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    font-family: fantasy;
    font-size: 24px;
    color: rgb(233, 233, 233);
}

.submit{
    text-align: right;
}

.offline{
    text-align: right;
}
/*input[type=button]{
    background-color: palegreen;
}*/